.bash_history
.CFUserTextEncoding
.cups
Desktop
Documents
Downloads
.DS_Store
.gitconfig
Library
Movies
Music
oradiag_ppostel
Pictures
Public
rent-01
.sqldeveloper
.ssh
tmp
.tnsnames.ora
.Trash
.viminfo
VirtualBox VMs
