.CFUserTextEncoding
.DS_Store
.Trash
.bash_history
.bowerrc
.bundle/
.cache/
.config/
.cpan
.cups
.dropbox
.erlang.cookie
.gem/
.gemrc
.gitconfig
.guard_history
.hgignore_global
.irb-history
.lesshst
.mysql_history
.node-gyp/
.npm/
.nvm/
.nvmrc
.pry/
.rubies/
.ruby-version
.rvm/
.sqldeveloper
.ssh
.subversion/
.tnsnames.ora
.vim/.netrwhist
.viminfo
Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
VirtualBox VMs
oradiag_ppostel
rent-01
source/
tmp
