.CFUserTextEncoding
.DS_Store
.Trash
.bash_history
.cpan
.cups
.dropbox
.gem/
.gitconfig
.guard_history
.hgignore_global
.irb-history
.lesshst
.pry/
.rvm/
.sqldeveloper
.ssh
.subversion/
.tnsnames.ora
.vim/.netrwhist
.viminfo
Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
VirtualBox VMs
oradiag_ppostel
rent-01
tmp
